{% extends "layouts/1_column.html" %}

{% block title %} Journal {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    <a href="/dashboard/publishers/journals/" class="navlink navlink--bold"><i class="fa fa-arrow-left"></i>&nbsp;back to browsing</a>

    {# There will only be one year for the moment, but this needs to be replaced asap with a tabbed version #}
    <div class="row">
        <div class="col">
            <strong>Year</strong>:
            {% for y in years %}
                {% if y == year %}
                    <strong>{{ year }}</strong>
                {% else %}
                    <a href="/dashboard/journal/{{ journal.issn }}/{{ y }}">{{ y }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col col-4">
            <h1 class="title title--primary">{{ journal.journal_title }}</h1>
            <h3>Data submitted in <span class="tag tag--{{framework}}">{{ framework }}</span> format</h3>
        </div>
    </div>
    <div class="row journal-info-box">
        <div class="col col-4">
            <div class="card">
                <div class="card-title">
                    <h2>Basic information</h2>
                </div>
                <div>
                    <p><strong>ISSN</strong>: {{ journal.issn }}</p>
                    <p><strong>Publisher</strong>: {{ publisher.publisher_name }}</p>
                    <p><strong>Discipline</strong>: {{ journal.discipline }}</p>
                    {% if journal.owner_ror_id %}
                        {% if journal.owner_ror_id|slice:":4" == "http" %}
                            <p><strong>Owner ROR ID</strong>: <a href="{{ journal.owner_ror_id }}" class="navlink">{{ journal.owner_ror_id }}</a></p>
                        {% else %}
                            <p><strong>Owner ROR ID</strong>: <a href="https://ror.org/{{ journal.owner_ror_id }}" class="navlink">https://ror.org/{{ journal.owner_ror_id }}</a></p>
                        {% endif %}
                    {% endif %}
                    {% if journal.publisher_ror_id %}
                        {% if journal.publisher_ror_id|slice:":4" == "http" %}
                            <p><strong>Publisher ROR ID</strong>: <a href="{{ journal.publisher_ror_id }}" class="navlink">{{ journal.publisher_ror_id }}</a></p>
                        {% else %}
                            <p><strong>Publisher ROR ID</strong>: <a href="https://ror.org/{{ journal.publisher_ror_id }}" class="navlink">https://ror.org/{{ journal.publisher_ror_id }}</a></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col">
            <h2>Price breakdown</h2>
            <div id="price-breakdown"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="report">
                <tbody>
                <tr>
                    <td>APC List Price Range</td>
                    <td>
                        {{ journal.apc_list_price_range_lower }} - {{ journal.apc_list_price_range_higher }} {{ journal.apc_list_price_currency }}
                    </td>
                </tr>

                <tr>
                    <td>APC Waiver Discount Policy</td>
                    <td>
                        {% if journal.apc_waiver_discount_policy %}
                            {% if journal.apc_waiver_discount_policy|slice:":4" == "http" %}
                                <a href="{{ journal.apc_waiver_discount_policy }}">{{ journal.apc_waiver_discount_policy }}</a>
                            {% else %}
                                {{ journal.apc_waiver_discount_policy }}
                            {% endif %}
                        {% else %}
                            No information provided
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Subscription List Price Range</td>
                    <td>{{ journal.subscription_list_price_range_lower }} - {{ journal.subscription_list_price_range_higher }} {{ journal.subscription_list_price_currency }}</td>
                </tr>

                <tr>
                    <td>Subscription List Price For Member of The Association of American Universities</td>
                    <td>
                        {{ journal.subscription_list_price_for_member_of_the_association_of_americ }} &nbsp;{{ journal.subscription_list_price_currency }}
                    </td>
                </tr>

                <tr>
                    <td>Subscription Discount Policy</td>
                    <td>
                        {% if not journal.subscripion_discount_policy %}
                            No information provided
                        {% elif journal.subscription_discount_policy|slice:":4" == "http" %}
                            <a href="{{ journal.subscription_discount_policy }}">{{ journal.subscription_discount_policy }}</a>
                        {% else %}
                            {{ journal.subscription_discount_policy }}
                        {% endif %}
                    </td>
                </tr>

                {% if framework == constants.FRAMEWORK_IP %}
                    {% include "common/_ip_journal.html" %}
                {% elif framework == constants.FRAMEWORK_FOAA %}
                    {% include "common/_foaa_journal.html" %}
                {% endif %}

                {% if journal.notes %}
                    <tr>
                        <td>Notes</td>
                        <td>{{ journal.notes }}</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>

        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript" src="/static/assets/vendor/plotly-2.12.1/plotly-2.12.1.min.js"></script>
    {% csrf_token %}
    <script type="text/javascript">
        let journalPage = {
            chart : false,

            init: function() {
                var data = [
                    {
                        {% if framework == constants.FRAMEWORK_IP %}
                            {% include "common/_ip_chart_args.html" %}
                        {% elif framework == constants.FRAMEWORK_FOAA %}
                            {% include "common/_foaa_chart_args.html" %}
                        {% endif %}
                        type: 'bar',
                        marker: {
                            color: "#F39325"
                        }
                    }
                ];
                journalPage.chart = Plotly.newPlot('price-breakdown', data,
                    {
                        margin: {t: 20},
                        //height: 300
                        xaxis: {
                            automargin: true,
                            tickangle: -45
                        },
                        yaxis: {
                            range: [0, 100],
                            title: "% of total"
                        }
                    },
                    {
                        displayModeBar: false
                    }
                );
            }
        }

        $( document ).ready(function($) {
            journalPage.init()
        });


    </script>

{% endblock javascripts %}
