{% extends "layouts/2_column.html" %}
{% block title %} Register {% endblock %}

{% block block_main %}
    <div class="stepper">Step {{ current_step }} of {{ total_steps }}</div>
    <h1>You are registering a form for <i>{{ publisher_name}}</i></h1>

    <form method="post" id="publisher_form" xmlns="http://www.w3.org/1999/html">
        {% csrf_token %}
        {{ activation.management_form }}
        <input type="hidden" name="publisher_name" id="publisher_name" value="{{ publisher_name }}">
        <h2 class="block_title">Contact Information</h2>

        <!-- Form -->
        <div class="input-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" disabled value="{{ email }}">
        </div>
        <div class="input-group">
            <label for="title">Title</label>
            <select name="title" id="title">
                <option value="" selected disabled hidden>-- Choose title --</option>
                <option value="Mr" {% if  user_form.title.value == "Mr" %} selected {% endif %}>Mr</option>
                <option value="Miss" {% if  user_form.title.value == "Miss" %} selected {% endif %}>Miss</option>
                <option value="Mrs" {% if  user_form.title.value == "Mrs" %} selected {% endif %}>Mrs</option>
                <option value="Ms" {% if  user_form.title.value == "Ms" %} selected {% endif %}>Ms</option>
                <option value="Dr" {% if user_form.title.value == "Dr" %} selected {% endif %}>Dr</option>
                <option value="Professor" {% if user_form.title.value == "Professor" %} selected {% endif %}>Professor</option>
                <option value="Lady" {% if user_form.title.value == "Lady" %} selected {% endif %}>Lady</option>
                <option value="Sir" {% if user_form.title.value == "Sir" %} selected {% endif %}>Sir</option>
                <option value="Rev" {% if user_form.title.value == "Rev" %} selected {% endif %}>Rev</option>
                <option value="Mx" {% if  user_form.title.value == "Mx" %} selected {% endif %}>Mx</option>
            </select>
            <span class="errortext">{{user_form.title.errors}}</span>
        </div>

        <div class="input-group error">
            <label for="fullname">Full name</label>
            {{ user_form.name }}
            <span class="errortext">{{user_form.name.errors}}</span>
        </div>
        <div class="input-group">
            <label for="address_first_line">First line of the address</label>
            {{ form.postal_address1 }}
            <span class="errortext">{{form.postal_address1.errors}}</span>
            <label for="address_second_line">Second line of the address</label>
            {{ form.postal_address2 }}
            <span class="errortext">{{form.postal_address2.errors}}</span>
            <label for="address_third_line">Third line of the address</label>
            {{ form.postal_address3 }}
            <span class="errortext">{{form.postal_address3.errors}}</span>
            <label for="address_postcode">Postcode</label>
            {{ form.postcode }}
            <span class="errortext">{{form.postcode.errors}}</span>
            <label for="address_town">City/Town</label>
            {{ form.city }}
            <span class="errortext">{{form.city.errors}}</span>
            <label for="address_country">Country</label>
            {{ form.country }}
            <span class="errortext">{{form.country.errors}}</span>

        </div>
        <h2 class="block_title">Publisher Information</h2>
        <div class="input-group">
            <label>Name of the person who will sign Legal Agreement with ESF, on behalf of publisher</label>
            {{ form.esf_name }}
            <span class="errortext">{{form.esf_name.errors}}</span>
        </div>
        <div class="input-group">
            <label>Email address of a person at the publisher who can sign the JCS legal agreement with ESF, who are providing this service on behalf of cOAlition S</label>
            {{ form.esf_email }}
            <span class="helptext">This email address must be in the name of the individual who can sign the agreement. Generic email addresses are not acceptable</span>
            <span class="errortext">{{form.esf_email.errors}}</span>
        </div>
        <div class="input-group">
            <label for="url">Publisher home page URL</label>
            {{ form.url }}
            <span class="helptext">Please provide a URL where information about your organisation - including its postal address - can be obtained</span>
            <span class="errortext">{{form.url.errors}}</span>
        </div>
        <div class="input-group">
            <label for="journal">Name of a journal you publish</label>
            {{ form.journal }}
            <span class="errortext">{{form.journal.errors}}</span>
        </div>
        <div class="input-group">
            <label for="issn">ISSN or e-ISSN</label>
            {{ form.issn }}
            <span class="errortext">{{form.issn.errors}}</span>
        </div>
        <p>For the journal indicated above, please select which services index this journal.<br />Select as many services as appropriate.</p>
        <div class="input-group input-group--checkbox">
            {% for field in form.services %}
                <div>{{ field }}</div>
            {% endfor %}
            {{ form.services_other }}
            <span class="errortext">{{ form.services.errors }}</span>
            <span class="errortext">{{ form.services_other.errors }}</span>
        </div>
        <div class="input-group input-group--radio" id="which-platform" style="display: none;">
            <p>Which INASP Journal Online platform is your journal is indexed by?</p>
            {% for field in form.inasp_journals %}
                <div>{{ field }}</div>
            {% endfor %}
            <span class="errortext">{{form.inasp_journals.errors}}</span>
        </div>
        <p>Are you a member of COPE?</p>
        <div class="input-group input-group--radio input-group--radio--horizontal">
            {% for field in form.member_of_cope %}
                <div>{{ field }}</div>
            {% endfor %}
        <span class="errortext">{{ form.member_of_cope.errors }}</span>
        </div>
        <div class="input-group input-group--radio">
            <label for="member_of_publisher_trade_body">Are you a member of a Publisher Trade body?</label>
            <div class="input-group--radio--horizontal">
                {% for field in form.member_of_publisher_trade_body %}
                    <div>{{ field }}</div>
                {% endfor %}
            </div>
            <span class="errortext">{{ form.member_of_publisher_trade_body.errors }}</span>
        </div>
        <div class="input-group input-group--checkbox" id="which-trade-body" style="display: none;">
            <label for="cope_details">Please specify:</label>
            {% for field in form.trade_bodies %}
                <div>{{ field }}</div>
            {% endfor %}
            {{ form.trade_bodies_other }}
            <span class="errortext">{{ form.trade_bodies.errors }}</span>
            <span class="errortext">{{ form.trade_bodies_other.errors }}</span>
        </div>
    </form>

{% endblock block_main %}

{% block  block_side %}
    <button class="btn btn-primary" id="submit" onclick="document.getElementById('publisher_form').submit()" ><span class="fa fa-check" ></span>Submit</button>
    <div class="card card--error">
        <div class="card-title">
            <span>Answer all the questions</span>
            <span class="fas fa-exclamation-circle"></span>
        </div>
        <p>You need to answer all the questions to submit the form.</p>
    </div>
{% endblock block_side %}

{% block javascripts %}
    <script src="/static/assets/js/registration.js"></script>
{% endblock javascripts %}