{% extends "layouts/registration_complete.html" %}
{% load i18n %}

{% block success_message %}
        <h2>
            <p>Thank you for your application to participate in the cOAlition S Journal Comparison Service. Staff from cOAlition S will now send the legal agreement to the individual you identified.</p>

            <p>This application will remain pending until the Publisher has signed the legal agreement to participate in this service.</p>

            <p>Once signed, we will get back to you within 10 working days.</p>
        </h2>
{% endblock success_message %}

