  <div class="modal" id="delete-modal" style="display:none">
      <div class="modal-background">
          <div class="modal-content">
              <h2><span class="fa fa-times close_modal"></span></h2>
              <h2>This will delete <span id="delete-modal-framework"></span>.</h2>
              <p>Do you want to continue?</p>
                  <div class="d-grid mb-4">
                      <button type="button" id="confirm_delete" class="btn btn-success"><span class="fas fa-check"></span>Yes, continue.</button>
                      <button type="button" id="cancel_delete" class="btn btn-error close_modal"><span class="fas fa-ban"></span>No, cancel this operation.</button>
                  </div>
          </div>
      </div>
  </div>