<div id="tnc-consent" class="modal tnc-consent" style="display: block">
    <div class="modal-background" style="left: 25%; width: 50%; top: 0">
        <div class="modal-content">
            <div class="modal-title modal-title--warning">
                <h3><span class="fas fa-exclamation-circle icon--error"></span>Important</h3>
            </div>
            <div class="modal-body">
                <span>By using this Service, you acknowledge that your access to the Service is subject to complying with the
        applicable competition law rules. In particular, you agree that you will not, directly or indirectly, share
        with or make available the information provided by the Service to non-authorized persons, and in particular to
                    publishers</span>
            </div>
            <button type="submit" name="submit" id="tnc-consent-agree" class="btn btn-primary"><span class="fas fa-download"></span>I Agree</button>
        </div>
    </div>
</div>