<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
    JCS
</title>
    <style>
    </style>
</head>
<body class="fullscreen_page">
    <div class="container-fluid">
        <div class="row content">
            <div class="sidebar sidebar-orange"></div>
            <div class="block block_tile">
                <section>
                  <div class="wrapper">
                        <h3 class="JCS-name">Journal Comparison Service</h3>
                        <div class="content">
                            <div >
                                <h1>{{ message }}</h1>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>